{% extends "base.html" %}

{% block title %}
<title>Customer List</title>
{% endblock %}

{% block content %}
<h3 class="text-center">Customer List</h3>
<div class="row">
  <div class="container">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Identity</th>
          <th>Name</th>
          <th>Balance</th>
          <th>Photo</th>
        </tr>
      </thead>
      <tbody>
        {% for customer in customers %}
          <tr>
            <td>{{ customer.identity }}</td>
            <td>{{ customer.name }}</td>
            <td>{{ customer.balance }}</td>
            <td><img src="{{ customer.photo.url }}" alt="{{ customer.name }}" width="50"></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
